
<h3>photo-resolution</h3>

<p>The ImageCapture Web API allows web developers to manipulate "Non-Live"
camera capabilities and settings such as the photo resolution, red eye
reduction, and flash mode.</p>
<p>This sample demonstrates the use of setting the image width of the
photo.</p>

<video autoplay></video>
<input type="range">
<button id="takePhotoButton" disabled>Take Photo</button>
<canvas></canvas>

<!-- {% include output_helper.html %}

{% include js_snippet.html filename='photo-resolution.js' %} -->

<script>src=photo-resolution.js</script>

<script>
  document.querySelector('#takePhotoButton').addEventListener('click', onTakePhotoButtonClick);
</script>
